<div class="modal-header">
  <h4 class="modal-title pull-left">{{teacher && teacher.idTeacher ? 'Actualizar Teacher' : 'Nuevo Teacher'}}</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<form (ngSubmit)="create()" #teacherForm="ngForm">
  <div class="mb-1 position-relative">
    <label for="name"></label>
    <span class="input-group-text" id="basic-addon1">Nombre</span>
    <input type="text" class="form-control" placeholder="Nombre" id="frmNames" [(ngModel)]="teacher.nameTeacher"
      name="names" required pattern="^[A-ZÁÉÍÓÚÑ][A-ZÁÉÍÓÚÑ ]*[A-ZÁÉÍÓÚÑ]$" #namesInput="ngModel"
      [ngClass]="{'is-invalid': namesInput.invalid && (namesInput.dirty || namesInput.touched), 'is-valid': namesInput.valid && namesInput.touched}" />
    <div *ngIf="namesInput.invalid && (namesInput.dirty || namesInput.touched)" class="text-danger">
      <div *ngIf="teacherForm.controls['names'].hasError('required')">El nombre es requerido.</div>
      <div *ngIf="teacherForm.controls['names'].hasError('pattern')">El nombre debe comenzar y terminar con una letra y
        puede contener letras y espacios.</div>
    </div>
    <div *ngIf="namesInput.valid && namesInput.touched" class="text-success">
      Nombre válido.
    </div>
    <div class="mb-3 position-relative">
      <label for="last_nameteacher"></label>
      <span class="input-group-text" id="basic-addon1">Apellido</span>
      <input type="text" class="form-control" placeholder="Apellido" aria-label="Username"
        aria-describedby="basic-addon1" name="last_nameteacher" [(ngModel)]="teacher.lastNameTeacher" required
        pattern="^[A-ZÁÉÍÓÚÑ][A-ZÁÉÍÓÚÑ ]*[A-ZÁÉÍÓÚÑ]$" #lastNameInput="ngModel"
        [ngClass]="{'is-invalid': lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched), 'is-valid': lastNameInput.valid && lastNameInput.touched}" />
      <div *ngIf="lastNameInput.invalid && (lastNameInput.dirty || lastNameInput.touched)" class="text-danger">
        <br>
        <div *ngIf="teacherForm.controls['last_nameteacher'].hasError('required')">El apellido es requerido.</div>
        <div *ngIf="teacherForm.controls['last_nameteacher'].hasError('pattern')">El apellido debe comenzar y terminar
          con una letra y puede contener letras y espacios.</div>
      </div>
      <div *ngIf="lastNameInput.valid && lastNameInput.touched" class="text-success">
        Apellido válido.
      </div>
    </div>
    <div class="mb-3 position-relative">
      <label for="user_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Nombre Usuario</span>
      <input type="text" class="form-control" placeholder="Nombre Usuario" aria-label="Username"
        aria-describedby="basic-addon1" name="user_teacher" [(ngModel)]="teacher.userTeacher" required
        pattern="^[^\s@]+$" #userInput="ngModel"
        [ngClass]="{'is-invalid': userInput.invalid && (userInput.dirty || userInput.touched), 'is-valid': userInput.valid && userInput.touched}" />
      <div *ngIf="userInput.invalid && (userInput.dirty || userInput.touched)" class="text-danger">
        <div *ngIf="userInput.hasError('required')">El nombre de usuario es requerido.</div>
        <div *ngIf="userInput.hasError('pattern')">El nombre de usuario no debe contener espacios ni "@".</div>
      </div>
      <div class="text-success" *ngIf="userInput.valid && userInput.touched">
        Nombre de usuario válido.
      </div>
    </div>
    <div class="mb-3 position-relative">
      <span class="input-group-text" id="basic-addon1">Contraseña</span>
      <input type="text" class="form-control" placeholder="Contraseña" aria-label="Password"
        aria-describedby="basic-addon1" name="password_teacher" [(ngModel)]="teacher.passwordTeacher" required
        pattern="^\S{8,25}$" #passwordInput="ngModel"
        [ngClass]="{'is-invalid': passwordInput.invalid && (passwordInput.dirty || passwordInput.touched), 'is-valid': passwordInput.valid && passwordInput.touched}" />
      <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="text-danger">
        <div *ngIf="teacherForm.controls['password_teacher'].hasError('required')">La contraseña es requerida.</div>
        <div *ngIf="teacherForm.controls['password_teacher'].hasError('pattern')">La contraseña debe tener entre 8 y 25
          caracteres y no contener espacios.</div>
      </div>
      <div *ngIf="passwordInput.valid && passwordInput.touched" class="text-success">
        Contraseña válida.
      </div>
    </div>


    <div class="mb-3">
      <label for="salary_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Salario</span>
      <input type="number" class="form-control" placeholder="Salario" aria-label="Salario"
        aria-describedby="basic-addon1" name="salary_teacher" [(ngModel)]="teacher.salary" required
        #salaryInput="ngModel"
        [ngClass]="{'is-invalid': salaryInput.invalid && (salaryInput.dirty || salaryInput.touched), 'is-valid': salaryInput.valid && salaryInput.touched}" />
      <div class="text-danger" *ngIf="salaryInput.invalid && (salaryInput.dirty || salaryInput.touched)">
        <div *ngIf="salaryInput.hasError('required')">El salario es requerido.</div>
      </div>
      <div class="text-success" *ngIf="salaryInput.valid && salaryInput.touched">
        Correcto
      </div>
    </div>

    <div class="mb-3 position-relative">
      <label for="courseId_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Especializacion</span>
      <select class="form-select" name="courseId_teacher" [(ngModel)]="teacher.courseId" required
        #courseIdInput="ngModel"
        [ngClass]="{ 'is-invalid': courseIdInput.invalid && (courseIdInput.dirty || courseIdInput.touched), 'is-valid': courseIdInput.valid && courseIdInput.touched }">
        <option value="" disabled selected>Seleccione un curso</option>
        <option value="1">Matematica</option>
        <option value="2">Ciencia</option>
        <option value="3">English</option>
        <option value="4">Historia</option>
        <option value="5">Personal Social</option>
        <option value="6">Arte</option>
        <option value="7">Biologia</option>
        <option value="8">Geografia</option>
        <option value="9">Computación</option>
        <option value="10">Literatura</option>
        <option value="11">Arte</option>
        <option value="12">Ciencia y Tecnologia</option>
        <option value="13">Religión</option>
        <option value="14">Comunicación</option>
        <option value="15">Comprensión Lectora</option>
      </select>
      <div class="text-danger" *ngIf="courseIdInput.invalid && (courseIdInput.dirty || courseIdInput.touched)">
        <div *ngIf="courseIdInput.hasError('required')">La especializacion es requerido.</div>
      </div>
      <div class="text-success" *ngIf="courseIdInput.valid && courseIdInput.touched">
        Correcto
      </div>
    </div>


    <div class="mb-3 position-relative">
      <label for="documentTypeId_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Tipo de documento</span>
      <select class="form-select" name="documentTypeId_teacher" [(ngModel)]="teacher.documentTypeId" required
        #documentTypeIdInput="ngModel"
        [ngClass]="{ 'is-invalid': documentTypeIdInput.invalid && (documentTypeIdInput.dirty || documentTypeIdInput.touched), 'is-valid': documentTypeIdInput.valid && documentTypeIdInput.touched }">
        <option value="" disabled selected>Seleccione un tipo de documento</option>
        <option value="1">DNI</option>
        <option value="2">CNE</option>
      </select>
      <div class="text-danger"
        *ngIf="documentTypeIdInput.invalid && (documentTypeIdInput.dirty || documentTypeIdInput.touched)">
        <div *ngIf="documentTypeIdInput.hasError('required')">Seleccione un tipo de documento.</div>
      </div>
      <div class="text-success" *ngIf="documentTypeIdInput.valid && documentTypeIdInput.touched">
        Correcto
      </div>
    </div>

    <div class="mb-3">
      <label for="document_number_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Número de Documento</span>
      <input type="text" class="form-control" placeholder="Número de Documento" aria-label="Número de Documento"
        aria-describedby="basic-addon1" name="document_number_teacher" [(ngModel)]="teacher.documentNumber" required
        [pattern]="teacher.documentTypeId === 1 ? '[0-9]{8}' : '[0-9]{12}'" #documentNumberInput="ngModel"
        [ngClass]="{'is-invalid': documentNumberInput.invalid && (documentNumberInput.dirty || documentNumberInput.touched), 'is-valid': documentNumberInput.valid && documentNumberInput.touched}" />
      <div class="text-danger"
        *ngIf="documentNumberInput.invalid && (documentNumberInput.dirty || documentNumberInput.touched)">
        <div *ngIf="documentNumberInput.hasError('required')">El número de documento es requerido.</div>
        <div *ngIf="documentNumberInput.hasError('pattern')">El número de documento debe contener {{
          teacher.documentTypeId === 1 ? '8' : '12' }} dígitos numéricos.</div>
      </div>
      <div class="text-success" *ngIf="documentNumberInput.valid && documentNumberInput.touched">
        Correcto
      </div>
    </div>
    
    


    <div class="mb-3">
      <label for="email_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Correo Electrónico</span>
      <input type="email" class="form-control" placeholder="Correo Electrónico" aria-label="Correo Electrónico"
        aria-describedby="basic-addon1" name="email_teacher" [(ngModel)]="teacher.email" required #emailInput="ngModel"
        [ngClass]="{'is-invalid': emailInput.invalid && (emailInput.dirty || emailInput.touched), 'is-valid': emailInput.valid && emailInput.touched}"
        pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" />
      <div class="text-danger" *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">
        <div *ngIf="emailInput.hasError('required')">El correo electrónico es requerido.</div>
        <div *ngIf="emailInput.hasError('email')">Ingrese un correo electrónico válido.</div>
        <div *ngIf="emailInput.hasError('pattern')">Ingrese un correo electrónico con el formato correcto (por
          ejemplo,
          example@dominio.com).</div>
      </div>
      <div class="text-success" *ngIf="emailInput.valid && emailInput.touched">
        Correcto
      </div>
    </div>

    <div class="mb-3">
      <label for="phone_number_teacher"></label>
      <span class="input-group-text" id="basic-addon1">Número de Teléfono</span>
      <input type="text" class="form-control" placeholder="Número de Teléfono" aria-label="Número de Teléfono"
        aria-describedby="basic-addon1" name="phone_number_teacher" [(ngModel)]="teacher.phoneNumber" required
        pattern="^9\d{8}$" #phoneInput="ngModel"
        [ngClass]="{'is-invalid': phoneInput.invalid && (phoneInput.dirty || phoneInput.touched), 'is-valid': phoneInput.valid && phoneInput.touched}" />
      <div class="text-danger" *ngIf="phoneInput.invalid && (phoneInput.dirty || phoneInput.touched)">
        <div *ngIf="phoneInput.hasError('required')">El número de teléfono es requerido.</div>
        <div *ngIf="phoneInput.hasError('pattern')">Ingrese un número de teléfono válido que comience con 9 y tenga 9
          dígitos.</div>
      </div>
      <div class="text-success" *ngIf="phoneInput.valid && phoneInput.touched">
        Correcto
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="create()">Guardar</button>
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</form>