

 <!-- Ventana modal para agregar y editar una nota -->
 <div class="modal" [style.display]="showForm ? 'block' : 'none'">
   <div class="modal-container">
     <h2>{{ showAddFormText }}</h2>
     <h3 class="subtitle">{{ showAddFormSubtitle }}</h3>
<!-- Botón fuera del formulario -->
<button (click)="showForm = true">Agregar Nota</button>
     <!-- Formulario para agregar nota -->
     <form (ngSubmit)="addNote()" #teacherForm="ngForm">
       <div class="row">
         <!-- Primera fila: Teacher y Course -->
         <div class="col">
           <label for="teacher">Teacher:</label>
           <select id="teacher" name="teacher_id" [(ngModel)]="newNoteForm.teacher_id" required>
             <option *ngFor="let teacher of teachers" [value]="teacher.idTeacher">{{ getTeacherNameById(teacher.idTeacher) }}
             </option>
           </select>
         </div>

         <div class="col">
           <label for="course">Course:</label>
           <select id="course" name="course_id" [(ngModel)]="newNoteForm.courser_id" required>
             <option *ngFor="let course of courses" [value]="course.id">{{ getCourseNameById(course.id) }}</option>
           </select>
         </div>
       </div>

       <div class="row">
         <!-- Segunda fila: Student y Note -->
         <div class="col">
           <label for="student">Student:</label>
           <select id="student" name="student_id" [(ngModel)]="newNoteForm.student_id" required>
             <option *ngFor="let student of students" [value]="student.id">{{ getStudentNameById(student.id) }}
             </option>
           </select>
         </div>

         
       </div>

       <div class="row">
         <!-- Tercera fila: Note Category y Date -->
         <div class="col">
           <label for="comment_register">Category:</label>
           <input id="comment_register" name="comment_register" [(ngModel)]="newNoteForm.noteDetail.comment_register" required
             #categoryInput="ngModel">
           <!-- Mensaje de error para la categoría -->
           <div *ngIf="categoryInput.invalid && (categoryInput.dirty || categoryInput.touched)">
             <!-- Elimina la parte relacionada con el patrón -->
             La categoría debe contener solo letras.
           </div>
         </div>

         <div class="col">
           <label for="date">Date:</label>
           <input id="date" name="date_note" [(ngModel)]="newNoteForm.noteDetail.date_submited" type="date" required>
         </div>
       </div>

       <div class="row">
         <!-- Cuarta fila: Status y Botones -->
         <div class="col">
           <label for="status">Status:</label>
           <select id="status" name="status" [(ngModel)]="newNoteForm.noteDetail.status_note" required>
             <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
           </select>
         </div>

         <!-- Botones dentro del formulario -->
         <div class="row">
           <!-- Botón para guardar los cambios -->
           <div class="col">
             <button type="submit" class="btn-save">Guardar</button>
           </div>

           <!-- Botón para cancelar y cerrar el formulario -->
           <div class="col">
             <button type="button" class="btn-cancel" (click)="cancelAdd()">
               Cancelar
             </button>
           </div>
         </div>
       </div>
     </form>
   </div>
 </div>