<!-- Modal Header with Close Button -->
<div class="modal-header">
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>

<!-- Student Form -->
<form (ngSubmit)="create()" #studentForm="ngForm">
    <!-- Nombre Field -->
    <div class="mb-1 position-relative">
        <label for="name"></label>
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" [(ngModel)]="Student.names" name="names"
            required pattern="^[A-ZÁÉÍÓÚÑ][A-ZÁÉÍÓÚÑ ]*[A-ZÁÉÍÓÚÑ]$" #namesInput="ngModel"
            [ngClass]="{'is-invalid': namesInput.invalid && (namesInput.dirty || namesInput.touched), 'is-valid': namesInput.valid && namesInput.touched}" />
        <div *ngIf="namesInput.invalid && (namesInput.dirty || namesInput.touched)" class="text-danger">
            <div
                *ngIf="studentForm.controls['names'].hasError('required') || studentForm.controls['names'].hasError('pattern')">
                El nombre es requerido y debe comenzar y terminar con una letra y puede contener letras y espacios.
            </div>
        </div>
        <div *ngIf="namesInput.valid && namesInput.touched" class="text-success">
            Nombre válido.
        </div>
    </div>

    <!-- Apellido Field -->
    <div class="mb-1 position-relative">
        <label for="last_name"></label>
        <span class="input-group-text" id="basic-addon1">Apellido</span>
        <input type="text" class="form-control" placeholder="Apellido" [(ngModel)]="Student.lastName"
            name="last_name" />
    </div>

    <!-- Type Document Field -->
    <div class="mb-1 position-relative">
        <label for="type_document"></label>
        <span class="input-group-text" id="basic-addon1">Tipo de Documento</span>
        <input type="text" class="form-control" placeholder="Tipo de Documento" [(ngModel)]="Student.documentTypeId"
            name="type_document" />
    </div>

    <!-- Number Document Field -->
    <div class="mb-1 position-relative">
        <label for="number_document"></label>
        <span class="input-group-text" id="basic-addon1">Número de Documento</span>
        <input type="text" class="form-control" placeholder="Número de Documento" [(ngModel)]="Student.numberDocument"
            name="number_document" />
    </div>

    <!-- Grade ID Field -->
    <div class="mb-1 position-relative">
        <label for="grade_id"></label>
        <span class="input-group-text" id="basic-addon1">ID de Grado</span>
        <input type="number" class="form-control" placeholder="ID de Grado" [(ngModel)]="Student.gradeId"
            name="grade_id" />
    </div>

    <!-- Modal Footer with Save and Close Buttons -->
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="create()">Guardar</button>
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
    </div>
</form>