<app-home></app-home>
<br>
<br>
<br>
<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-md-9">
      <div class="card border-primary mb-3">
        <div class="card-header">Student</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Listado de Estudiantes activos</h5>
          <button type="button" class="btn btn-primary mb-3" (click)="openCreateModal()">Crear Estudiante</button>
          <div class="my-5 text-left"></div>
          <div class="table-responsive">
            <table class="table table-striped table-bordered w-100 small">
              <thead>
                <tr class="table-primary">
                  <th>ID</th>
                  <th>Nombres</th>
                  <th>Apellidos</th>
                  <th>Tipo de documento</th>
                  <th>Número de documento</th>
                  <th>Nivel Académico</th>
                  <th>Grado</th>
                  <th>Email</th>
                  <th>Celular</th>
                  <th>Contraseña</th>
                  <th>Acción</th>
                  <th>Eliminar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of students">
                  <td>{{ item.id }}</td>
                  <td>{{ item.names }}</td>
                  <td>{{ item.lastName }}</td>
                  <td>{{ item.documentTypeId }}</td>
                  <td>{{ item.numberDocument }}</td>
                  <td>{{ item.academicLevelId }}</td>
                  <td>{{ item.gradeId }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.cellPhone }}</td>
                  <td>{{ item.password }}</td>
                  <td> 
                    <button type="button" class="btn btn-warning btn-sm" (click)="openEditModal(item)">Editar</button>
                  </td>
                  <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="deleteStudent(item)">Eliminar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <app-footer></app-footer>
</div>
